/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

/* Map Container */
#map {
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Controls Sidebar */
#controls {
    position: fixed; /* Make it fixed to always stay on the left */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#controls button {
    display: block;
    width: 180px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d94615;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controls button:hover {
    background-color: #b7350d;
}

/* Search Input Styles */
#location-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#location-search {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #d94615;
    border-radius: 5px;
    width: 180px;
    box-sizing: border-box;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    color: black;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}
